# Project Information
site_name: Daniel Wenbo's Site
site_url: https://mendax1234.github.io/
site_author: Daniel Wenbo
site_description: >-
  Daniel Wenbo's personal site.

# Repository
repo_name: mendax1234/MySite
repo_url: https://github.com/mendax1234/mendax1234.github.io

# Copyright
copyright: Copyright &copy; 2023 Daniel Wenbo

theme:
  name: material
  custom_dir: material/.overrides
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.instant
    - navigation.path
    - navigation.tracking
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - toc.follow
    # - toc.integrate

  language: en

  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
        
  favicon: assets/favicon.png
  icon:
    logo: logo

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/mendax1234/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/Daniel_Wenbo
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/daniel_wenbo/
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/profile.php?id=100081281025388
    - icon: fontawesome/brands/discord
      link: https://discordapp.com/users/1134380192769511468
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/wenbo-zhu-69bba6218/
    
  analytics: 
    analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by
            using our <a href="..." target="_blank" rel="noopener">feedback form</a>.

plugins:
  - blog
  - search
  - privacy
  - git-committers:
      repository: mendax1234/mendax1234.github.io
      branch: main
  - git-authors
  - git-revision-date-localized:
      enable_creation_date: true
  # - redirects:
  #     redirect_maps:
  #       'cv/index.md': 'https://mendax1234.github.io/files/cv.pdf'
#  - i18n:
#      search_reconfigure: false
#      default_language: en
#      languages:
#        en:
#          name: English
#        zh:
#          name: Chinese
          
nav:
  - About: index.md
  - Blog:
    - blog/index.md 
  - Resources:
    - resources/index.md
  - CV:
    - files/cv.pdf

# extra_css:
#   - stylesheets/extra.css

markdown_extensions:
  - footnotes
  - tables
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
